
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  /* remove margin so nav bar displays across the whole page */
  margin: 0;
}

/*
 * Use a twitter-like scheme for links, not in the nav bars.
 * TODO: review current document structure, as it's getting a little
 *       hard to follow.
 */

p#banner a , div#mainBar a , div#schedule a ,
div.explanation a , div#explorebox a ,
p.wwt a {
  text-decoration: none;
  color: rgb(0,131,179); /* or a dark gray/black: rgb(40,40,47); */
}

p#banner a:hover , div#mainBar a:hover , div#schedule a:hover ,
div.explanation a:hover , div#explorebox a:hover ,
p.wwt a:hover {
  text-decoration: underline;
}

/* restore margin, at least for divs and paragraphs */
/*
body > div , body > p {
  margin: 0.5em;
}
*/

main > div , aside > div {
  margin: 0.5em;
}

/* Since the GIFs have a fixed size, use that to drive the
   page setup. Is this a good idea? */

p#banner , nav {
  display: block;
  padding: 0.2em 0.5em 0.2em 0.5em;
  overflow: hidden;
  background-color: rgba(153,153,153,0.2);  /* gray */
}

p#banner {
  clear: both;
  margin: 0; /* overwrite the body>p rule */
  padding: 1em;
  font-size: smaller;
  border-top: 1px solid rgb(153,153,153);
  color: #666; /* #aaa; */
}

/* Set up the main navigation bar */

nav {
  border-bottom: 1px solid rgb(153,153,153);
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  float: right;
  list-style-type: none;
  margin-right: 0.2em;
}

/* nav ul li:first-child { */
nav ul li:nth-child(-n+3) {
  float: left;
}

nav > ul > li > a.chosen {
  border-bottom-color: rgb(0,131,179); /* twitter color */
}

nav > ul > li > a {
  color: #666; /* #aaa; */
  line-height: 2em;
  font-size: larger;
  text-decoration: none;
  padding: 0 0.5em;

  border-bottom: 4px solid rgba(0,0,0,0);

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
}

nav > ul > li:hover > a {
  border-bottom-color: rgb(0,131,179); /* twitter color */
  color: rgb(0,131,179); /* or a dark gray/black: rgb(40,40,47); */
}

/*
 * Originally from:
 * http://www.adam-bray.com/blog/91/Easy+HTML+5+%26+CSS+3+Navigation+Menu/
 */
nav#obslinks {
    background-color: #fff;
    border-bottom: none;
    margin-bottom: 0.5em;
}

nav#obslinks ul li {

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.055);
    
    list-style-type: none;
    margin-right: 0;

    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;

}

nav#obslinks ul li.prevLink {
    float: left;
}
nav#obslinks ul li.nextLink {
    float: right;
}

span.directionLabel {
    display: block;
    display: flex;
    justify-content: center;
}

span.directionLabel:after {
    content: " ";
    display: block;
}

span.obsLabel {
    display: block;
    display: flex;
    justify-content: center;
    padding-top: 0.2em;
}

nav#obslinks > ul > li > a {
    border-bottom: 0;  /* override the blue lines used for other nav elements */
    display: block;
    color: #666;
    line-height: 1em;
}
/*
 * There are too many styles that interact here, so be explicit
 */
nav#obslinks > ul > li > a:hover {
    text-decoration: none;
}


nav#obslinks > ul > li:hover {
  background-color: rgb(0,131,179); /* rgb(40, 44, 47);*/
}

nav#obslinks > ul > li:hover > a {
  color: rgb(255, 255, 255);
}

/* end of nav links */

div.links {
  width: 680px;
  height: 680px;
  overflow: hidden;

  /* border-left: 1em solid rgba(0, 131, 179, 0.2); */

}

/* support Chandra images; let them fill the width of the box but
   not the height (there's no obvious best choice here) */

div.links img#Chandra {
    width: 680px;
    height: auto;
    background-color: white;
    /* Choosen to match div#observation, but at present this should
     * never be seen (as there's scaling and overflow=hidden), I
     * think.
     */
    background-color: rgba(0, 131, 179, 0.1);
    /*
     * I wanted some way to indicate that an image was here, by
     * drawing a border, but with the current set up it is not
     * working well (not all edges are displayed)
     border: 1px solid black;
     */
}

/* Selected view (DSS/RASS/PSPC/Details) */

.inactive {
  display: none;
}

.active {
  display: block;
}

/* The radio buttons are styled to appear more like
   HTML buttons than the default, and rely on the
   fact we use <input type=button..><label></label>
 */

div.radiobuttons {
  padding: 0.5em 1em;

  /* border-left: 1em solid white; */

}

div.radiobuttons input[type='radio'] {
  display: none;
}

div.radiobuttons input[type='radio']:checked + label {
  /* background-color: #bbb; */
  border-bottom-color: rgb(0,131,179); /* twitter */
}

div.radiobuttons label {
  display: inline-block;
  /* background-color: #eee; */

  /* background-color: rgba(0, 131, 179, 0.1); blue */
  background-color: rgba(153,153,153,0.2);  /* gray */

  /* border-radius: 4px; */
  /* want the bottom to be flat as the bar is drawn there when selected */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  padding: 0.1em 0.5em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  font-size: larger;
  /* font-family: serif; */
  color: #666; /* #aaa; */

  border-bottom: 4px solid rgba(0,0,0,0);
  /* border-bottom: 4px solid inherit; */
}

div.radiobuttons label:hover {
  border-bottom-color: rgb(0,131,179); /* twitter */
  color: rgb(0,131,179); /* or a dark gray/black: rgb(40,40,47); */
}

/* details about an observation */

div#Details {
  width: 660px; /* using 680px is too wide: padding/margin? */
  padding: 1em 0.5em;
  border: solid 1px #dedede; /* rgb(40,40,47); */
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
}

div#Details table {
  width: 100%;
}

div#Details table tr:nth-child(even) {
  background: rgba(153,153,153,0.2); /* match p#banner */
}

div#Details td.key {
  float: left;
}

div#Details td.value {
  float: right;
}

div#Details td.note {
    text-align: center;
    font-weight: bolder;
}

div#Details br { clear: both; }

/* Twitter bar */

/* TODO: need better positioning than this */

div#mainBar {
  float: left;
  width: 680px; /* width of images */
  margin-right: 1em;

  /* border-left: 1em solid rgba(0, 131, 179, 0.2); */

}

/* WWT pages */

/* The WWT page does not have a class/id to hook onto (following can
 * probably be removed).
 */

nav.main + p { /* is this still needed? */
  width: 700px;
}

/* no-longer use wwtControls */
div#wwtControls {
  width: 700px;
}

div#wwtControls > label {
  margin-left: 0.5em;
}

/* Handle the elements on the WWT canvas */

div#WorldWideTelescopeControlHost {
  position: relative;
}

#wwtusercontrol {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #D9D9D9;
  border-radius: 0.5em;
  cursor: move;
  left: 1em;
  padding: 0.5em;
  position: absolute;
  top: 1em;
  z-index: 100;
}

#obspane {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #D9D9D9;
  border-radius: 0.5em;
  cursor: move;
  right: 1em;
  padding: 0.5em;
  position: absolute;
  top: 1em;
  z-index: 100;
  width: 15em;   /* trial and error */
}

.clickable {
  background: #F55;  /* want an orangey-red */
  border-radius: 50%;
  float: right;
  height: 1em;
  width: 1em;
}

#resizeButtons {
    float: left;
}

#resizeButtons img {
    width: 1em;
    height: 1em;
}

/*
 * Apply the width to resizeWWTArea so that
 * when they get hidden the container (#wwtusercontrol)
 * can shrink.
 */
#resizeWWTArea {
    width: 12em;  /* trial and error to get this */
}

/* bootstrap-inspired styling */
.button {
  background-color: rgba(217, 83, 79, 0.8);  /* red-ish */
  border: 1px solid rgb(212, 63, 58);
  border-radius: 0.5em;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-top: 0.4em;
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.button:hover {
  background-color: rgba(210, 35, 45, 0.8);
  border-color: rgb(172, 41, 37);
  color: white;
  text-decoration: none;
}

/* facts and errors */

p.fact , p.noserver , p.unknownerror {
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  border-left: 1em solid rgb(0,131,179);
  border-right: 1px solid rgb(153,153,153);
  border-top: 1px solid rgb(153,153,153);
  border-bottom: 1px solid rgb(153,153,153);
  /* display: inline; */
  background-color: rgba(153,153,153,0.2);  /* gray */
}

/* other stuff */

p.footnote {
    font-size: smaller;
}

/*
 * The standard table view is to add a background to every-other line
 * and tweak the margins a bit.
 */

table.standard {
    margin: 1em;
}

table.standard th , table.standard td {
    padding: 0.2em 0.5em;
}

table.standard thead tr {
    /* 
     * background: rgba(0, 131, 179, 0.2);
     * I have decided that there's too much blue; need something different,
     * so for now go with grey which is boring but somewhat consistent with
     * the overall look.
     */
    background: rgba(153, 153, 153, 0.4);
}

table.standard tbody tr:nth-child(2n+1) {
    background: rgba(0, 131, 179, 0.1);
}

/*
 * Display a table as a bunch of floating boxes, so that there
 * can be multiple boxes on the same row. This is intended for
 * long tables where there's only a few elements per row.
 *
 * Of course, this loses many of the features why I'd
 * select a table in the first place, so is it really a
 * good idea?
 *
 * It is expected that the page displaying such a table
 * sets up widths for the td elements.
 */

.floatable thead {
    /* display: none; */
    /*
    left: auto;
    right: auto;
   */
    background: rgba(0, 131, 179, 0.2);
    margin: 0.3em;
    padding: 0.4em;
    float: left;
}

.floatable th:first-child {
    text-align: left;
}

.floatable th:last-child {
    text-align: right;
}

.floatable tbody tr {
    float: left;
}

/*
 * sizes obtained by trial and error: will presumably break
 * if a different font is used, or when more data is added
 * and the time values change.
 */

.floatable tbody tr {
    /* border: solid 2px rgb(0, 131, 179); */
    margin: 0.3em;
    padding: 0.4em;
    background: rgba(0, 131, 179, 0.1);
}

.floatable tbody tr:hover {
    background: rgba(0, 131, 179, 0.2);

    /* a more materials-like pressed "out" look */
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
}

/*
 * try and make the whole tr selectable; I think the best I
 * can hope for is to make the td selectable. Perhaps then
 * floating the second td to the right, and positioned under
 * it?
 *
 * This doesn't look like it's making the padding be
 * selectable, which is understandable, if a bit visually
 * annoying.
 *
 * This could be changed by dropping the table and using
 * div or span blocks. I want to keep the semantic structure
 * though, so keep the following for now.
 */
.floatable a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; /* want to stop underline but no success;
            unfortunately there's a more-specific selector */
}

/*
 * Support a dl-style list of explanations which begin with a label.
 * This is currently only used in /search/proptype/ but the CSS is
 * placed here in case it is useful elsewhere.
 *
 * It is now also being used for some dd blocks (about/views.html)
 */
.term {
    padding-left: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-right: 0.5em;
    
    margin-top: 0.2em;
    margin-bottom: 1em;

    /* match div#observation */
    border-left: 1em solid rgba(0, 131, 179, 0.2);
    border-radius: 4px;
    
    background: rgba(0, 131, 179, 0.1);
}

/* It is assumed that the label element is the first item in the block */
.term .label {
    margin-left: -0.5em;
}

/* Used for image thumbnails for the WWT credits on the about page */
img.thumbnail {
  float: left;
  padding-right: 0.5em;
}

/*
 * Since the thumbnail images can extend beyond the credits, need to make
 * sure that they are cleared before the next item, which is either the
 * next dt element or the paragraph following the list.
 */
dl.credits dt {
    clear: both;
}

dl.credits + p {
    clear: both;
}

/*
 * Style the main text elements of an observation
 */

div#currentdate {
    /* div.radiobuttons label */
    background-color: rgba(153,153,153,0.2);  /* gray */
    border-radius: 4px;

    /* use same color as nav > ul > li > a */
    color: #666;
    margin-bottom: 0.5em;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    text-align: center;
}

div#observation {
    /* Choose color to match .floatable tbody tr */
    background-color: rgba(0, 131, 179, 0.1);
    border-radius: 4px;
    padding: 0.2em 1em;

    /* Choose color to match .floatable thead */
    border-left: 1em solid rgba(0, 131, 179, 0.2);
}

/* the icon after an "external link" is encountered */

img.external-link {
    height: 0.8em;
    padding-left: 0.5em;
}

/*
 * view of the sky; this needs to match the code that generates the SVG
 */
div#map {
    width: 960px;
    height: 500px;
}
